*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */
.font-work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* main style */
/* section style */

.hero-container{
    max-width: 1600px;
    height: 808px;
    background: url("../new-year-new-me/images/banner/banner3.png");
    display: flex;
    flex-direction: column;
    align-items: flex-end;   
}

.btn{
    margin: 32px 150px;
    padding: 21px 25px;
    color: #005FAC;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
}
.highlight{
    max-width: 525px;
    margin: 216px 150px 30px;
    
}
.highlight h1{
    font-size: 65px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: right;
    
}

.text{
    margin: 24px 150px;
}
.text p{
    font-size: 16px;
    color: #FFFFFF;
    line-height: 26px;
    max-width: 494px;
    text-align: right;
}

/* story-section */
.story-container{
    max-width: 1072px;
    display: flex;
    justify-content: space-between;
    margin: 131px 322px 0 206px;
    /* border: 2px solid red; */
}
.my-story{
    max-width: 416px;
    margin-top: 239px;
    margin-left: 87px;
}
.my-story h2{
    font-size: 40px;
    font-weight: bold;
    color: #151414;
    margin-bottom: 24px;
}
.my-story p{
    max-width: 416px;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 16px;
}
.my-story li{
    list-style: none;
    max-width: 349px;
}

/* plan-section */
.plan-container{
    max-width: 1140px;
    margin: 130px auto;
}
.plan-box{
    max-width: 1140px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 130px;
}
.plan-title h2{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #151414;
    text-align: center;
    margin-bottom: 50px;
}
.plan-box h3{
    font-size: 30px;
    font-weight: bold;
    color: #151414;
    margin-top: 20px;
    margin-bottom: 16px;
}
.plan-box p{
    font-size: 25px;
    font-weight: 500;
    color: #737272;
}
.web, .js, .smoke, .money{
    max-width: 270px;
    text-align: center;
}
.last-banner{
    background: url("../new-year-new-me/images/gradient1.png");
    max-width: 1140px;
}