*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */
.font-work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* main style */
/* section style */

.hero-container{
    max-width: 1600px;
    height: 808px;
    background: url("../new-year-new-me/images/banner/banner3.png");
    display: flex;
    flex-direction: column;
    align-items: flex-end;   
}

.btn{
    margin: 32px 150px;
    padding: 21px 25px;
    color: #005FAC;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
}
.highlight{
    max-width: 525px;
    margin: 216px 150px 30px;
    
}
.highlight h1{
    font-size: 65px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: right;
    
}

.text{
    margin: 24px 150px;
}
.text p{
    font-size: 16px;
    color: #FFFFFF;
    line-height: 26px;
    max-width: 494px;
    text-align: right;
}
